# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/workspace.xml
01drawround/build/
02diycontroller/build/
03listview/build/
04_1FragmentTest/build/
04_2FragmentPractice/build/
04_fragment_chen/build/
05_1BroadcastTest/build/
05_3broadcastPractice/build/
05_chen/build/
06_1DatabaseTest/build/
06_2FilePersistenceTest/build/
app/build/
build/
firstlinecode_01activity/build/
07_1callphone/build


07_2contactsreader/build

/08_1notificationtest/src/androidTest/
.gradle/3.3/tasks/_07_1callphone_compileDebugJavaWithJavac/
.gradle/3.3/tasks/_07_2contactsreader_compileDebugJavaWithJavac/
.idea/libraries/core_1_5_1.xml
07_1callphone/libs/
07_1callphone/src/main/res/drawable/
07_2contactsreader/libs/
07_2contactsreader/src/main/res/drawable/
08_1notificationtest/build
/08_1notificationtest/libs/
/08_1notificationtest/src/test/
.DS_Store
.gradle/3.3/tasks/_08_04playaudio_compileDebugJavaWithJavac/
.gradle/3.3/tasks/_08_1notificationtest_compileDebugJavaWithJavac/
.gradle/3.3/tasks/_08_2camera_compileDebugJavaWithJavac/
.gradle/3.3/tasks/_08_3playvideo_compileDebugJavaWithJavac/
08_04playaudio/libs/
08_04playaudio/src/main/res/drawable/
08_2camera/libs/
08_2camera/src/main/res/drawable/
08_3playvideo/libs/
08_3playvideo/src/main/res/drawable/
